<div class="span6 no-timetable">
  <div class="details">
    <h4>
      <p>
      It looks like you don't have any active timetable at the moment.
      </p>
      <p>
      But don't worry! You can create one clicking below.
      </p>
    </h4>
    <p class="text-center">
    <%= link_to new_timetable_path, class: "btn light-grey big" do %>
      Create my timetable!
      <i class="m-icon-big-swapright m-icon-white"></i>
    <% end %>
    </p>
  </div>
</div>

<div class="span6 no-timetable">
  <div class="details">
    <h4>
      <p>
      If you want to make a tour through the system, click in the button below.
      </p>
    </h4>
    <p class="text-center">
    <%= link_to new_timetable_path, class: "btn yellow big" do %>
      Create my timetable!
      <i class="m-icon-big-swapright m-icon-white"></i>
    <% end %>
    </p>
  </div>
</div>
