<div class="portlet box purple">
  <div class="portlet-title">
    <div class="caption"><i class="icon-calendar"></i><%= t('.title') %></div>
    <div class="tools">
      <a href="" class="collapse"></a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="row-fluid">
      <div class="span12 text-center">
        <p><h1>Em breve!</h1></p>
      </div>
    </div>
  </div>
</div>

<!--
<div class="portlet box blue">
  <div class="portlet-title">
    <div class="caption"><i class="icon-calendar"></i>Lorem ipsum</div>
    <div class="tools">
      <a href="" class="collapse"></a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="row-fluid">
      <div class="span4">
        <div class="sparkline-chart">
          <div class="number" id="sparkline_bar"></div>
          <a class="title" href="#">Lorem ipsum <i class="m-icon-swapright"></i></a>
        </div>
      </div>
      <div class="margin-bottom-10 visible-phone"></div>
      <div class="span4">
        <div class="sparkline-chart">
          <div class="number" id="sparkline_bar2"></div>
          <a class="title" href="#">Lorem ipsum <i class="m-icon-swapright"></i></a>
        </div>
      </div>
      <div class="margin-bottom-10 visible-phone"></div>
      <div class="span4">
        <div class="sparkline-chart">
          <div class="number" id="sparkline_line"></div>
          <a class="title" href="#">Lorem ipsum <i class="m-icon-swapright"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
-->
