<% provide(:title, "Dashboard") %>
<% have_tt = @active_timetable.present? %>

<div id="dashboard">
  <% if have_tt %>
    <div class="row-fluid">
      <%= render(partial: 'calendars/calendar_portlet', locals: { calendar: @active_timetable.calendar }) %>
    </div>
  <% else %>
    <div class="row-fluid">
      <%= render partial: 'no_timetable' %>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span6">
      <%= render partial: 'tasks/index' %>
    </div>
    <div class="span6">
      <%= render 'stats' %>

    </div>
  </div>

</div>
