<!-- BEGIN HEADER -->
<div class="front-header">
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">

        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="dropdown active">
            <%= link_to 'Home', root_path  %>
            </li>
            <li>
            <%= link_to 'Login', new_user_session_path  %>
            </li>
            <li>
            <%= link_to 'Register', new_user_registration_path %>
            </li>
            <li class="menu-search">
            <span class="sep"></span>
            <i class="icon-search search-btn"></i>
            </li>
          </ul>
          <div class="search-box">
            <div class="input-append">
              <form>
                <input style="background:#fff;" class="m-wrap" type="text" placeholder="Search" />
                <button type="submit" class="btn theme-btn">Go</button>
              </form>
            </div>
          </div>                            
        </div>
        <!-- BEGIN TOP NAVIGATION MENU -->
      </div>
    </div>
  </div>                   
</div>
<!-- END HEADER -->
