<div class="well well-large">
  <h4>Your Syllabus was created!</h4>
  <p>blablabla texto sobre o que ele tem que fazer agora.</p>
  <p>blabla vc tem que criar sua grade. Explicação sobre grade e blablabla.</p>
  <br />
  <div class="text-center">
    <%= link_to new_syllabus_timetable_path(@syllabus), class: "btn green big" do %>
      Create my timetable <i class="m-icon-big-swapright m-icon-white"></i>
    <% end %>
  </div>
</div>
