<div class="portlet box blue calendar">
  <div class="portlet-title">
    <div class="caption"><i class="icon-reorder"></i>Calendar</div>
  </div>
  <div class="portlet-body light-grey">
    <div class="row-fluid">
      <div class="span3 responsive" data-tablet="span12 fix-margin" data-desktop="span8">
        <div class="btn-group">
          <a class="btn purple" href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
            <i class="icon-calendar"></i> Actions
            <i class="icon-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to new_syllabus_path do %>
                <i class="icon-plus"></i> Add
              <% end %>
            </li>
            <li class="divider"></li>
            <li><a href="#"><i class="i"></i> Full Settings</a></li>
          </ul>
        </div>
        <div class="accordion scrollable" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed active-syllabus" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_1">
                <i class="icon-angle-left"></i>
                Collapsible Group Item #1
              </a>
            </div>
            <div id="collapse_2_1" class="accordion-body collapse in">
              <div class="accordion-inner">
                <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                </p>
                <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_2">
                <i class="icon-angle-left"></i>
                Collapsible Group Item #2
              </a>
            </div>
            <div id="collapse_2_2" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                </p>
                <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </p>
                <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                </p>
                <p>
                <a  class="btn green" href="ui_tabs_accordions.html#collapse_2_2" target="_blank">Activate this section via URL</a>
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_3">
                <i class="icon-angle-left"></i>
                Collapsible Group Item #3
              </a>
            </div>
            <div id="collapse_2_3" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                </p>
                <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                </p>
                <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                </p>
                <p>
                <a  class="btn blue" href="ui_tabs_accordions.html#collapse_2_3" target="_blank">Activate this section via URL</a>
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_4">
                <i class="icon-angle-left"></i>
                Collapsible Group Item #4
              </a>
            </div>
            <div id="collapse_2_4" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                </p>
                <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                </p>
                <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                </p>
                <p>
                <a  class="btn red" href="ui_tabs_accordions.html#collapse_2_4" target="_blank">Activate this section via URL</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span9">
        <%= render partial: 'calendars/calendar_portlet', locals: { calendar: @active_timetable.calendar } %>
      </div>
    </div>
    <!-- END CALENDAR PORTLET-->
  </div>
</div>
