<div class="row-fluid">

  <div class="span12">
    <div class="portlet box light-grey calendar">
      <div class="portlet-title">
        <div class="caption"><i class="icon-calendar"></i>Calendar</div>
      </div>
      <div class="portlet-body light-grey">
        <div class="row-fluid">
          <div id="calendar" class="has-toolbar" 
            data-url-event-resize="<%#= syllabus_timetable_calendar_event_resize_path(f.object.syllabus, f.object) %>"
            data-url-select="<%#= syllabus_timetable_calendar_select_path(f.object.syllabus, f.object) %>"
            data-url-event-drop="<%#= syllabus_timetable_calendar_event_drop_path(f.object.syllabus, f.object) %>"
            data-url-day-click="<%#=  syllabus_timetable_calendar_day_click_path(f.object.syllabus, f.object) %>"
            data-url-event-click="<%#= syllabus_timetable_calendar_event_click_path(f.object.syllabus, f.object) %>">
          </div>
        </div>
        <!-- END CALENDAR PORTLET-->
      </div>
    </div>
  </div>

</div>

