<div class="span12 no-timetable">
  <div class="title">
    Oops
  </div>
  <div class="details">
    <h4>
      <p>
      It looks like you don't have any active timetable at the moment.
      </p>
      <p>
      But don't worry! You can create one clicking below.
      </p>
    </h4>
    <p>
    <%= link_to new_timetable_path, class: "btn green big" do %>
      Create my timetable!
      <i class="m-icon-big-swapright m-icon-white"></i>
    <% end %>
    </p>
  </div>
</div>
