<h3 class="form-section"><%= t('.title') %></h3>

<div class="row-fluid">

  <div class="span12 text-center">
    <%= f.input :subjects, collection: @subject_groups, as: :grouped_select, group_method: :subjects_with_study_sources, group_label_method: :name, label_method: :name, input_html: { id: "subjects-select", multiple: true }, label: false %>
  </div>

</div>

