<p>Parabéns, você acabou de criar a sua grade de horários!</p>
<p>Abaixo você pode visualizar seu calendário e, se necessário, adicionar ou alterar eventos de estudo.</p>
<p>Antes de adicionar eventos de estudo ao calendário, lembre-se que é necessário associar as matérias que você deseja usar ao calendário.</p>

<% if @is_first_timetable then %>
  <p>
    Me parece que esta é a sua primeira grade criada! Conforme conversamos anteriormente, após dar uma olhada na sua grade é <b>muito</b> importante que você preencha o primeiro formulário de avaliação:
    <a class="btn green big" target="_blank" href="https://docs.google.com/forms/d/11CZZugqzOc3CYY_cATA2_MuBQJN62J6n1PIh41iOYbo/viewform" >
      <i class="m-icon-big-swapright m-icon-white"></i>
      Me leve até o formulário de avaliação!
    </a>
  </p>
<% end %>


<%= render partial: 'calendars/calendar_portlet', locals: { calendar: @timetable.calendar } %>
