<p>Parabéns, blablabla, vc criou essa merda.</p>
<p>Aqui estão seus eventos gerados de merda.</p>
<p>Se você optou por não gerá-los automaticamente, como qualquer
pessoa inteligente faria, então você se fodeu.
Mas não se preocupe, vc ainda pode adicioná-los manualmente
como um retardado faria.
</p>
<p>A sua sorte é que esse sistema lindo e maravilhoso
facilita todo esse trabalho árduo, então divirta-se!</p>

<%= render partial: 'calendars/calendar_portlet', locals: { calendar: @timetable.calendar } %>
