<p>Parabéns, você acabou de criar a sua grade de horários!</p>
<p>Abaixo você pode visualizar seu calendário e, se necessário, adicionar ou alterar eventos de estudo.</p>
<p>Antes de adicionar eventos de estudo ao calendário, lembre-se que é necessário associar as matérias já cadastradas a ele.</p>

<%= render partial: 'calendars/calendar_portlet', locals: { calendar: @timetable.calendar } %>
