<div class="span12 no-timetable">
  <div class="title">
    Oops
  </div>
  <div class="details">
    <h4>
      <p><%= t('.no_active_timetable') %></p>
      <p><%= t('.create_click_below') %></p>
    </h4>
    <p>
    <%= link_to new_timetable_path, class: "btn green big" do %>
      <%= t('.buttons.create_timetable') %>
      <i class="m-icon-big-swapright m-icon-white"></i>
    <% end %>
    </p>
  </div>
</div>
