<% provide(:title, "Study Sources for " + @subject.name) %>



<form action="#">
  <div class="control-group">
    <label class="control-label"><%= "Study Sources for #{@subject.name}" %></label>
    <div class="controls">
      <select multiple="multiple" id="study-sources-select" >
        <% @all_sources.each do |s| %>
          <option value="<%= s.id %>" <%='selected' if @selected_sources.include?(s)%>>
            <%= s.title %>
          </option>
        <% end %>
      </select>
    </div>
  </div>
</form>

