<%= simple_nested_form_for [@calendar, @calendar_event], remote: true,
  defaults: { input_html: { class: "m-wrap placeholder-no-fix", autocomplete: "off" } },
  html: { class: "form-inline subject-form", novalidate: "novalidate" } do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3>New Calendar Event</h3>
  </div>
  <div class="modal-body">


    <% if @calendar_event.persisted? %>
      <div class="pull-right">
        <%= link_to calendar_calendar_event_path(@calendar, @calendar_event), method: :delete, remote: true, id:"remove-event", class: "btn red", data: { confirm: "Are you sure" } do %>
          Remove
          <i class="icon-remove"></i>
        <% end %>
      </div>
    <% end %>
    <div class="tabbable tabbable-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-general" data-toggle="tab">General</a></li>
        <li><a href="#tab-schedule" data-toggle="tab">Schedule</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-general">
          <%= render "calendar_events/form_modal_general", f: f, calendar: @calendar %>
        </div>

        <div class="tab-pane" id="tab-schedule">
          <%= render "calendar_events/form_modal_schedule", f: f %>
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
    <button type="submit" id="create-event" class="btn green">Ok</button>
  </div>
<% end %>
