<% if object.errors.any? %>
  <div class="alert alert-error fade in">
    <button class="close" data-dismiss="alert"></button>
    <%= t('.contains_errors', count: object.errors.count) %>
  </div>
<% end %>
