/*
 * Bootstrap fix for using text-align in tables, since that's an overloading issue
 */
table .text-right {text-align: right}
table .text-left {text-align: left}
table .text-center {text-align: center}


table.table {
  td button {
    padding: 1px 10px;
  }
}


/*
 * Sortable (jQuery UI) itens
 */
.sortable-itens li.sortable-box-placeholder {
  margin: 0 !important;
}
.sortable-itens.sortable-box-placeholder.empty {
  height: 100px;
  margin: 0 !important;
}

.sortable-itens {
  display: block;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: relative;
}
.sortable-itens li { display: block; margin: 5px 0; cursor: move; padding: 5px 10px; color: #333; text-decoration: none; font-weight: 400; border: 1px solid #ccc;
  background: #fafafa;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box; -moz-box-sizing: border-box;
}
.sortable-itens li:hover { color: #2ea8e5; background: #fff; }

/*
 * Simple color picker
 */
.simplecolorpicker{
  &.picker {
    //z-index fix for bootstrap modal
    z-index: 10051;
  }
  &.icon {
    border: 1px solid #CCCCCC;
    display: block;
    height: 34px;
    width: 100px;
  }
  span {
    width: 18px;
  }
}

/*
 * Tabletools
 */
.DTTT.btn-group {
  float: right;
  margin-left: 10px;
}


/*
 * Date range picker
 */
.page-content .date-range  {
  padding: 8px;
  padding-bottom: 7px;
  cursor: pointer;
  color: #fff;
  background-color: #e02222;
  display: inline-block;
}
.page-content .date-range span {
  font-size: 12px;
  font-weight: 300; 
  color: #fff;
  text-transform: uppercase;
}
.page-content .date-range .icon-calendar {
  text-transform: normal;
  color: #fff;
  margin-top: 0px;
  font-size: 14px;
}
.page-content .date-range span {
  font-weight: normal; 
}
.page-content .date-range .icon-angle-down {
  color:#fff;
  font-size: 16px;
}

/*
 * Sidebar without search need some adjust
 */
.page-sidebar .sidebar-toggler {
  margin-bottom: 15px;
}

/*
 * Dropdown caret fix
 */
.dropdown-menu li > a {
  padding: 6px 20px 6px 13px;
}
.dropdown-menu {
  padding: 5px 0;
}

#feedback-container {
    display: inline-block;
    float: right;
}

.nav .beta {
  color: #ddd;
  h2{
    line-height: 20px;
  }
  sup {
    color: #dd4b39;
  }
}

.beta-footer {
  border: medium none;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.footer .footer-inner {
  margin-left: 50px;
}
