.portlet.calendar {
  .fc-header {
    margin-bottom: 0px;
  }
  .fc-header-title h2 {
    font-size: 20px !important;
  }
  .portlet-title .actions {
    float: left;
    margin-left: 15px;
  }
  .timetables-group {
    margin: -7px 0 4px;
  }
}

/*  Green */
.active-timetable {
  color: white;
  text-shadow: none;	 
  background-color: #35aa47;
}
.active-timetable:hover, 
.active-timetable:focus, 
.active-timetable:active, 
.active-timetable.active,
.active-timetable.disabled, 
.active-timetable[disabled]{ 
  background-color: #1d943b !important;
  color: #fff !important;
}


#calendar-event-modal {
  #tab-general .control-group {
    display: inline-block;
  }
  .control-group.calendar_event_title {
    display: block;
    width: 500px;
  }
  #calendar_event_title {
    width: 100%;
  }
}

.select2-results .select2-result-label .option-color, .select2-chosen .option-color {
  border: 1px solid #999999;
  border-radius: 3px;
  display: block;
  float: left;
  height: 16px;
  margin: 5px;
  width: 16px;
}


/*Duplicating star-rating CSS so I can use in other parts of the app as I wish, since the actual one is being applied only to anchor tags.*/
#time-list {
  div.star-rating-on{background-position:0 -16px!important}
  div.star-rating-hover{background-position:0 -32px}
}

.time-table {
  thead th {
    width: percentage(1 / 7); /*7 days in a week*/
    text-align: center;
  }
  td {
    height: 300px;
  }

}

#hours-table {
  td {
    width: percentage(1 / 7); /*7 days in a week*/
    border: 0;
  }
}

.table {
  margin-bottom: 0;
}

.productivity-box {
  margin: 10px 0px 10px;
}

.add-time {
  border-radius: 15px !important;
  padding: 2px 7px;
}

#insert-time {
  margin-bottom: 10px;
}

.action-new-time {
  text-align: center;
}

/*
 * Hack to make the timepicker work inside a popover
 */
  .bootstrap-timepicker-widget {
    z-index: 99999999;
  }


  .study-item {
    cursor: default;
    height: 50px;
    background-color: #F5F5F5 !important;
    a.link-remove:hover {

    }
    i.icon-remove {
      color: #fff !important;
      font-size: 18px !important;
    }

    i.icon-remove:hover {
      color: #000 !important;
    }

    .remove-study-time {
      .badge {
        cursor: pointer;
        right: -8px;
        top: -17px;
      }
    }
  }

  .info-study-time-hover {
    margin-bottom: 20px;
  }

  .no-timetable {
    text-align: center;
  }

  .no-timetable .title {
    display: inline-block;
    letter-spacing: -10px;
    margin-top: 0px;
    line-height: 128px;
    font-size: 158px;
    font-weight: 300;
    color: #7bbbd6;
    text-align: right;
  }

  .no-timetable .details {
    margin-left: 40px;
    display: inline-block;
    padding-top: 0px;
    text-align: left;
  }

  .percent {
    font-size: 25px;
    position: relative;
    top: 5px;
  }
