<p>Seja bem-vindo, <%= @email %>!</p>

<p>Você pode confirmar seu e-mail a partir do link abaixo:</p>

<p><%= link_to 'Confirmar minha conta!', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
