<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- If you delete this tag, the sky will fall on your head -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <%= stylesheet_link_tag "email", media: "all" %>

  </head>

  <body bgcolor="#FFFFFF">


    <!-- BODY -->
    <table class="body-wrap">
      <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

          <div class="content">
            <table>
              <tr>
                <td>
                  <h3>Olá, <%= @resource.name %>!</h3>
                  <p>Parece que alguém solicitou a mudança da sua senha. Você pode realizá-la a partir do link abaixo.</p>

                  <p><%= link_to 'Trocar minha senha', edit_password_url(@resource, :reset_password_token => @token), class: 'btn' %></p>

                  <p>Caso não tenha sido você a solicitar a troca de senha, favor desconsiderar este e-mail.</p>
                  <p>Sua senha não será trocada até que você acesse este link acima e crie uma nova.</p>
                  <br/>
                  <br/>							

                </td>
              </tr>
            </table>
          </div>

        </td>
        <td></td>
      </tr>
    </table><!-- /BODY -->


  </body>
</html>
