<p>Olá, <%= @resource.email %>!</p>

<p>Parece que alguém solicitou a mudança da sua senha. Você pode realizá-la a partir do link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Caso não tenha sido você a solicitar a troca de senha, favor desconsiderar este e-mail.</p>
<p>Sua senha não será trocada até que você acesse este link acima e crie uma nova.</p>
