
<table class="table table-striped table-bordered" id="table-events-to-study">
  <thead>
    <tr>
      <th class="text-center">Date</th>
      <th class="text-center">Subject</th>
      <th class="text-center">Meta</th>
      <th class="text-center">Complete</th>
    </tr>
  </thead>
  <tbody>
  <% @items_to_study.each do |ei| %>
    <tr >
      <td class="text-center"><%= ei.start.to_s + ' - ' + ei.end.to_s %></td>
      <td class="text-center"><%= ei.title %></td>
      <td class="text-center"><%= ei.event.duration %></td>
      <td class="text-center">
        <%= button_to calendar_calendar_event_edit_complete_path(ei.event.calendar_event_source.calendar, ei.event, start: ei.start, end: ei.end), method: :get, remote: true, class: 'btn green complete' do %>
          <i class="icon-check"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div id="complete-event-modal" class="modal hide fade" tabindex="-1">
</div>

