<div class="row-fluid">
  <div class="span12">
    <div id="follow-up-date-range" data-url-callback="<%= timetable_follow_up_refresh_content_path(@timetable) %>" class="date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="<%= t('.filter.change_range') %>">
      <i class="icon-calendar"></i>
      <span></span>
      <i class="icon-angle-down"></i>
    </div>
  </div>
</div>

<br />

<div class="row-fluid" id="row-content-follow-up">
  <%= render "content" %>
</div>
