<% subject_groups.each do |sg| %>
<div class="portlet box grey subject-group-box">
  <input type="hidden" class="subject-group-id" value="<%= sg.id %>">

  <div class="portlet-title">
    <div class="caption"><i class="icon-reorder"></i>Portlet1</div>
    <div class="tools">
      <a href="javascript:;" class="collapse"></a>
      <a href="javascript:;" class="remove"></a>
    </div>
  </div>

  <div class="portlet-body hide">
    <ul class="sortable-itens">
	  <%= render 'subjects', subjects: sg.subjects %>
    </ul>
  </div>

</div>
<% end %>
