<li>
	<input type="hidden" class="subject-id" name="subject_ids[]" value="<%= s.id %>" />
  <input type="hidden" class="subject-update-url" value="<%=  subject_update_subject_group_path(s) %>">
  <%= s.name %>
</li>
