<fieldset id="repeats_options" class="event_option form-horizontal hide">
  <%= f.input :repeat_ends, collection: t('repetitions.end_options'), include_blank: false %>
  <div id="event_repeat_ends_on">
    <%= f.input :repeat_ends_on, as: :date_picker %>
  </div>
  <div id="event_repeat_ends_count">
    <%= f.input :repeat_ends_count %>
  </div>
</fieldset>
