<div class="portlet box green" id="study_hours_evolution">
  <div class="portlet-title">
    <div class="caption"><i class="icon-reorder"></i><%= t('.title') %></div>
    <div class="tools">
      <a href="javascript:;" class="collapse"></a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="chart"></div>
  </div>
</div>
